#sign {
    position: fixed;
    left: 70%;
}






#prototy {
    background-color: #699bf7;
    color: black;
    text-align: center;

}

.werun {
    background-color: #699bf7;
    color: black;
    font-family: 54px White, sans-serif;
}

.other {
    background-color: #699bf7;
    color: black;
    font-family: 54px White, sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.see img {
    max-width: 360px;
}